.UIContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
}

.calorieContainer {
    justify-self: left;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../../assets/MessageBoard.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    font-size: 2rem;
    width: 100%;
    height: 80vh;
    padding: 20px;
    color: #83ad6f;
    border-right: 4px solid black;
}

.calorieContainerInner {
    margin: 3vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.calorieButton {
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    border: 4px solid rgb(148, 90, 43);
    background-color: burlywood;
}

.calorieButton:hover {
    cursor: pointer;
    background-color: rgb(186, 154, 112);
}

.WelcomeSign {
    margin-top: 3vh;
    padding: 30px;
    height: fit-content;
    display: flex;
    aspect-ratio: 483/243;
    background-image: url('../../assets/Sign.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.Welcome {
    top: 0;
    left: 0;
    color: black;
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomeSignMessage {
    margin: 0;
}

.WelcomeMessage {
    justify-content: center;
    margin-top: 20%;
    text-align: center;
    color: black;
}


.CalorieLogContainer {
    align-items: center;
}

.LogCalorieInput {
    margin: 2vh;
    height: 6vh;
    width: 10vw;
    border: none;
    background-color: #e3bb86d2;
    font-family: "Stardew";
    font-size: 1.2em;
    overflow: hidden;
}

