.navContainer {
    position: relative;
    z-index: 100;
    background-image: url("../assets/StardewGrass.png");
    width: 100vw;
    height: calc(3 * var(--tile-size));
    overflow: hidden;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid black;
}

.HelpButton {
    position: absolute;
    background-color: #FBE5B4;
    color: #945A2B;
    border: 4px solid #945A2B;
    border-radius: 50%;
    font-size: 4em;
    left: 0;
    margin-left: 2%;
}

.HelpButton:hover {
    color: #BA9A70;
}


.buttonContainer {
    position: absolute;
    padding: 0 0 0 0;
    left: 90%;
    border-radius: 10%;
    border: 0px;
    
}

.titleHolder {
    background-image: url('../assets/WoodenButton.png');
    padding: 10%;
    background-position: center;
    background-size: 100% 200%;
    background-repeat: no-repeat;

}

.title {
    left: 50%;
    top: 50%;
    font-size: calc(0.75 * var(--tile-size));
    color: black;
    padding: 0 0 0 0;
    margin: 0;
}

button {
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
    border: 0px;
    color: black;
    font-size: 1.5rem;
}

.login {
    background-color: #ECFAE5;
    border: 4px solid black;
}

.login:hover {
    transition: 0.3s;
    background-color: #B0DB9C;
    cursor: pointer;
}
.register {
    background-color: #BBC3A4;
    border: 4px solid black;
    
}

.register:hover {
    transition: 0.3s;
    background-color: #B0DB9C;
    cursor: pointer;
}