.loginScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.elementContainer {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 20px;
}

.loginText {
    font-size: 4em;
    color: black;
}

.imgbg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    image-rendering: pixelated;
}

.loginButton {
    background-color: #ECFAE5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 4px solid black;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.4s;
}

.loginButton:hover {
    background-color: #CAE8BD;
}

.registerButton {
    background-color: #ECFAE5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 4px solid black;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.4s;
}

.registerButton:hover {
    background-color: #CAE8BD;
}


