.FlowerContainer {
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 2em;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.FlowerBox {
    background-color: #ECCA9C;
    display: flex;  
    flex-direction: column;
    border-radius: 20px;
    margin: 0.5%;
    width: 11%;
    height: 11%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}


.flower {
  position: relative;
  padding-top: 5%;
  width: 60%;
  aspect-ratio: 1 / 1;
  margin-top: 15%;
}


.flowerLayer3,
.flowerLayer2,
.flowerLayer1,
.flowerCenter {
  position: absolute;
  border-radius: 30px;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flowerLayer3 {
  width: 90%;
  height: 90%;
  background-color:#ffdddd;
  z-index: 1;
}

.flowerLayer2 {
  width: 70%;
  height: 70%;
  background-color: #ffbbc2;
  z-index: 2;
}

.flowerLayer1 {
  width: 50%;
  height: 50%;
  background-color: #f6829f;
  z-index: 3;
}

.flowerCenter { 
  width: 25%;
  height: 25%;
  background-color: rgb(255, 183, 0);
  z-index: 4;
}

.date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}


